<template>
  <div>
    <el-card class="nice-card  h400">
      <div class="card-header" slot="header">Anwender</div>
      <div class="card-body">
        <el-table :data="users" stripe border highlight-current-row height="280px" @row-click="selectUser">
          <el-table-column label="Name" prop="userFullName" sortable></el-table-column>
        </el-table>
      </div>
      <div class="card-footer">
        <el-button class="nice-button" size="mini" type="success" @click="insertUser">Neu</el-button>
        <el-button class="nice-button" size="mini" type="" plain @click="loadData">
          <i class="el-icon-refresh"></i>
        </el-button>
      </div>
    </el-card>
    <user-dialog :dlgVisible="userDialogVisible" :user="currentUser" @close="dialogIsClosed"></user-dialog>
  </div>
</template>

<script>
import Dialog from "./UserDialog";
export default {
  components: {
    "user-dialog": Dialog
  },

  data() {
    return {
      currentUser: {},
      userDialogVisible: false
    };
  },

  computed: {
    users() {
      return this.$store.getters.users
    }
  },

  created() {
    this.loadData();
  },

  methods: {
    loadData() {
      this.$store.dispatch("getUsers");
    },

    dialogIsClosed() {
      this.$store.dispatch("getUsers");
      this.userDialogVisible = false;
    },

    selectUser(row, event, column) {
      var userId = row.id;
      this.readUser(userId);
    },

    readUser(userId) {
      var self = this;
      var link = "./static/api/users/users.php?action=read&userId=" + userId;
      this.axios.get(link).then(result => {
        self.currentUser = result.data.record;
        this.userDialogVisible = true;
      });
    },

    insertUser() {
      var self = this;
      var link = "./static/api/users/users.php?action=insert";
      this.axios.get(link).then(
        result => {
          var newId = result.data.newRecordId;
          self.readUser(newId);
        },
        error => {
          self.$message.error("Error by axios: " + error);
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
