<template>
  <div>
    <el-dialog class="nice-dialog" center :visible.sync="showMe" :showClose=false :close-on-click-modal=false width="40%">
      <div class="dialog-header" slot="title">Anwender :: {{ currentUser.userName }}</div>
      <div class="dialog-body">
        <el-form class="nice-form" label-width="90px" :label-position="labelPosition">
          <el-row :gutter="20">
            <el-col :lg="16">
              <el-form-item label="Username">
                <el-input v-model="currentUser.userName" clearable maxlength="32"></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="8">
              <el-form-item label="Rolle">
                <el-select v-model="currentUser.userRole">
                  <el-option value="1" label="Gast"></el-option>
                  <el-option value="5" label="Anwender"></el-option>
                  <el-option value="6" label="FEZ-Gruppe"></el-option>
                  <el-option value="9" label="Admin"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="20">
            <el-col :lg="16">
              <el-form-item label="E-Mail">
                <el-input v-model="currentUser.userEmail" clearable maxlength="128"></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="8">
              <el-form-item label="Aktiv">
                <el-radio-group class="nice-button" v-model="currentUser.userAktiv">
                  <el-radio-button class="nice-button" label="1">Aktiv</el-radio-button>
                  <el-radio-button class="nice-button" label="0">Deaktiv</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="20">
            <el-col :lg="16">
              <el-form-item label="Voller Name">
                <el-input v-model="currentUser.userFullName" maxlength="32" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="8">
              <el-form-item label="Kurzname">
                <el-input v-model="currentUser.userKuerzel" maxlength="6" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-row>

        </el-form>

      </div>
      <div class="dialog-footer" slot="footer">
        <el-button class="nice-button w100" size="mini" type="success" @click="closeDialog">OK</el-button>
        <el-button class="nice-button w100" size="mini" type="" plain @click="cancelDialog">Cancel</el-button>
        <el-button class="nice-button w100" size="mini" type="danger" plain @click="deleteUser">Löschen</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import tools from './../../../tools/Tools.js'

  export default {
    props: ['user', 'dlgVisible'],

    data() {
      return {
        currentUser: {},
        labelPosition: 'right'
      }
    },

    computed: {
      isGast() {
        return this.currentUser.userRole != 9
      },

      showMe: {
        get() {
          this.currentUser = this.user
          return this.dlgVisible == true
        },
        set(newValue) {
          this.$emit('close')
        }
      }
    },

    methods: {

      cancelDialog() {
        this.showMe = false
      },

      closeDialog() {
        this.updateUser()
      },

      updateUser() {
        var self = this
        var link = './static/api/users/users.php?action=update'
        var formData = tools.toFormData(this.currentUser)
        this.axios.post(link, formData).then((result) => {
          self.showMe = false
        }, (error) => {
          self.$message.error('Error by axios: ' + error)
        })
      },

      deleteUser() {
        var userId = this.currentUser.id
        var link = './static/api/users/users.php?action=delete&userId=' + userId
        var self = this
        this.$confirm('Soll dieser Anwendder wirklich gelöscht werden?', 'Anwender löschen', {
          confirmButtonText: 'Ja',
          cancelButtonText: 'Nein'
        }).then(() => {
          this.axios.get(link).then(() => {
            self.cancelDialog()
            self.$message({
              message: 'Der Anwender wurde als gelöscht markiert',
              type: 'success'
            }, (error) => {
              self.$message.error('Error by axios: ' + error)
            })
          })
        }).catch(() => {
          self.$message({
            message: 'Aktion abgebrochen'
          })
        })
      },
    }
  }

</script>

<style lang="scss" scoped>


</style>
