<template>
  <div>
    <el-dialog class="nice-dialog" center :visible.sync="showMe" :showClose=false :close-on-click-modal=false width="50%">

      <div class="dialog-header" slot="title">Standort :: {{ currentStandort.standortName }}</div>
      <div class="dialog-body">
        <el-form class="nice-form" label-width="90px" :label-position="labelPosition">
          <el-row :gutter="20">
            <el-col :lg="16">
              <el-form-item label="Standort">
                <el-input v-model="currentStandort.standortName" clearable maxlength="128"></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="8">
              <el-form-item label="Aktiv">
                <el-radio-group class="nice-button" v-model="currentStandort.standortAktiv">
                  <el-radio-button class="nice-button" label="1">Aktiv</el-radio-button>
                  <el-radio-button class="nice-button" label="0">Inaktiv</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="20">
            <el-col :lg="8">
              <el-form-item label="VG-Kennung">
                <el-input type="number" v-model="currentStandort.standortVGKennung" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="8">
              <el-form-item label="Kurzname">
                <el-input v-model="currentStandort.standortKurzname" clearable maxlength="12"></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="8">
              <el-form-item label="Button-Präfix">
                <el-input v-model="currentStandort.standortPraefix" clearable maxlength="6"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <br>
          <br>
          <el-row :gutter="20">
            <el-col :lg="24">
              <el-form-item label="Gruppe">
                <el-radio-group class="nice-button" plain v-model="currentStandort.standortGruppe">
                  <el-radio-button class="nice-button" label="1">Kreis / VG / Leitung</el-radio-button>
                  <el-radio-button class="nice-button" label="2">Standort Stützpunkt</el-radio-button>
                  <el-radio-button class="nice-button" label="3">Standort Feuerwehr</el-radio-button>
                  <el-radio-button class="nice-button" label="4">Standort Extern</el-radio-button>
                  <el-radio-button class="nice-button" label="9">Reserve</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>

          <br>
          <br>

          <el-row :gutter="20">
            <el-col :lg="12">
              <el-form-item label="Adresse">
                <el-input type="textarea" v-model="currentStandort.standortAdresse" clearable maxlength="256" :rows="3"></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="6">
              <el-form-item label="Telefon">
                <el-input v-model="currentStandort.standortTelefon" clearable maxlength="32"></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="6">
              <el-form-item label="Kurzwahl">
                <el-input v-model="currentStandort.standortKurzwahl" clearable maxlength="5"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-form-item label="Hinweise">
            <el-input type="textarea" v-model="currentStandort.standortHinweise" clearable maxlength="2048" :rows="3"></el-input>
          </el-form-item>

          <el-form-item :gutter="20">
            <el-button class="nice-button" @click="initEinheiten">Einheiten</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="dialog-footer" slot="footer">
        <el-button class="nice-button w100" size="mini" type="success" @click="closeDialog">OK</el-button>
        <el-button class="nice-button w100" size="mini" type="" plain @click="cancelDialog">Cancel</el-button>
        <el-button class="nice-button w100" size="mini" type="danger" plain @click="deleteStandort">Löschen</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import tools from './../../../tools/Tools.js'

  export default {
    props: ['standort', 'dlgVisible'],


    data() {
      return {
        currentStandort: {},
        labelPosition: 'right'
      }
    },


    computed: {
      showMe: {
        get() {
          this.currentStandort = this.standort
          return this.dlgVisible == true
        },
        set(newValue) {
          this.$emit('close')
        }
      }
    },


    methods: {
      closeDialog() {
        this.updateStandort()
      },

      updateStandort() {
        var link = './static/api/standorte/standorte.php?action=update'
        var formData = tools.toFormData(this.currentStandort)
        var self = this
        this.axios.post(link, formData).then(
          result => {
            self.showMe = false
          },
          error => {
            self.$message({
              message: 'Error by axios: ' + error
            })
          }
        )
      },

      cancelDialog() {
        this.showMe = false
      },

      deleteStandort() {
        var standortId = this.currentStandort.id
        var link =
          './static/api/standorte/standorte.php?action=delete&standortId=' +
          standortId
        var self = this
        this.$confirm(
            'Soll dieser Standort wirklich gelöscht werden?',
            'Standort löschen', {
              confirmButtonText: 'Ja',
              cancelButtonText: 'Nein'
            }
          )
          .then(() => {
            this.axios.get(link).then(
              result => {
                self.$message({
                  message: 'Der Standort wurde als gelöscht markiert',
                  type: 'success'
                })
                self.cancelDialog()
              },
              error => {
                self.$message({
                  message: 'Fehler beim Löschen des Standortes',
                  type: 'warning'
                })
              }
            )
          })
          .catch(() => {
            self.$message({
              message: 'Aktion abgebrochen'
            })
          })
      },

      initEinheiten() {
        var standortId = this.currentStandort.id
        var self = this
        this.$confirm('Möchten Sie die Einheiten für diesen Standort (erneut) initalisieren?',
          'Einheiten initalisieren', {
            confirmButtonText: 'Ja',
            cancelButtonText: 'Nein'
          }).then(() => {
          var link = './static/api/einheiten/einheiten.php?action=init&standortId=' + standortId
          this.axios.get(link).then(() => {

          }, (error) => {
            this.$message.error('Error by axios: ' + error)
          })
        }).catch(() => {
          this.$message({
            message: "Aktion abgebrochen, keine Daten geändert",
            type: 'info'
          })
        })
      }
    }
  }

</script>

<style lang="scss" scoped>


</style>
