<template>
  <div>
    <el-card class="nice-card h400">
      <div class="card-header" slot="header">
        Standorte
      </div>
      <div class="card-body">
        <el-table :data="standorte" stripe border highlight-current-row height="280px" @row-click="selectStandort">
          <el-table-column label="Standort" prop="standortName" sortable></el-table-column>
          
        </el-table>
      </div>
      <div class="card-footer">
        <el-button class="nice-button" size="mini" type="success" @click="insertStandort">Neu</el-button>
        <el-button class="nice-button" size="mini" type="" plain @click="loadData">
          <i class="el-icon-refresh"></i>
        </el-button>
      </div>
    </el-card>
    <standort-dialog :dlgVisible="standortDialogVisible" :standort="currentStandort" @close="dialogIsClosed"></standort-dialog>
  </div>
</template>

<script>
import Dialog from "./StandortDialog";

export default {
  components: {
    "standort-dialog": Dialog
  },

  data() {
    return {
      currentStandort: {},
      currentStandortId: null,
      standortDialogVisible: false
    };
  },

  computed: {
    standorte() {
      return this.$store.getters.standorte;
    }
  },

  created() {
    this.loadData();
  },

  methods: {
    loadData() {
      this.$store.dispatch("getStandorte");
    },

    dialogIsClosed() {
      this.$store.dispatch("getStandorte");
      this.standortDialogVisible = false;
    },

    selectStandort(row, event, column) {
      var standortId = row.id;
      this.readStandort(standortId);
    },

    readStandort(standortId) {
      var self = this;
      var link =
        "./static/api/standorte/standorte.php?action=read&standortId=" +
        standortId;
      this.axios.get(link).then(
        result => {
          self.currentStandort = result.data.record;
          self.currentStandortId = result.data.record.id;
          this.standortDialogVisible = true;
        },
        error => {
          this.$message({
            message: "Error by axios: " + error
          });
        }
      );
    },

    insertStandort() {
      var self = this;
      var link = "./static/api/standorte/standorte.php?action=insert";
      this.axios.get(link).then(
        result => {
          var newId = result.data.newRecordId;
          self.readStandort(newId);
        },
        error => {
          this.$message({
            message: "Error by axios: " + error
          });
        }
      );
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
