<template>
<div class="widget">
    <el-card class="nice-card h400">
        <div class="card-header" slot="header">Einsaetze</div>
        <div class="card-body small-padding">
            <el-table class="nice-table" :data="einsaetze" highlight-current-row height="280px" :row-class-name="tableRowClassName" @row-click="selectEinsatz">
                <el-table-column label="EinsatzName" prop="einsatzName" sortable></el-table-column>
                <el-table-column label="Status" prop="einsatzStatus" sortable width="100"></el-table-column>
                <el-table-column label="Nummer" prop="einsatzNummer" sortable width="100"></el-table-column>
                <el-table-column label="Datum" prop="einsatzDatum" sortable width="100"></el-table-column>
                <el-table-column fixed="right" label="Aktion" width="80">
                    <template slot-scope="scope">
                        <el-button @click="handleEdit(scope.row.id)" icon="el-icon-edit" type="text" size="mini"></el-button>
                        <el-button @click="handlePrint(scope.row.id)" icon="el-icon-printer" type="text" size="mini"></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="card-footer">
            <el-button class="nice-button" size="mini" type="" plain @click="reloadEinsaetze">
                <i class="el-icon-refresh"></i>
            </el-button>
        </div>
    </el-card>

    <el-dialog class="nice-dialog" width="50%" :visible.sync="editDialogVisible" :show-close=false :close-on-press-escape=false>
        <div class="dialog-header" slot="title"></div>
        <div class="dialog-body scroll" style="padding: 10px;">
            
            <el-form class="nice-form" rel="form" style="padding: none">
                <el-row :gutter="5">
                    <el-col :lg="14">
                        <el-form-item label="Einsatzname">
                            <el-input v-model="currentEinsatz.einsatzName"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :lg="10">
                        <el-form-item label="Einsatznummer">
                            <el-input v-model="currentEinsatz.einsatzNummer"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row :gutter="5">
                    <el-col :lg="12">
                        <el-form-item label="Datum">
                            <el-input v-model="currentEinsatz.einsatzDatum"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :lg="12">
                        <el-form-item label="Uhrzeit">
                            <el-input v-model="currentEinsatz.einsatzUhrzeit"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-form-item label="EinsatzAdresse">
                    <el-input v-model="currentEinsatz.einsatzAdresse"></el-input>
                </el-form-item>
                <el-row :gutter="5">
                    <el-col :lg="12">
                        <el-form-item label="Alarmiert">
                            <el-input v-model="currentEinsatz.einsatzAlarmiert"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :lg="12">
                        <el-form-item label="Eröffnet">
                            <el-input v-model="currentEinsatz.einsatzEroeffnet"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col>
                        <el-form-item label="Einsatzbeschreibung">
                            <el-input type="textarea" class="nice-input" v-model="currentEinsatz.einsatzBeschreibung" :rows="4"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>

        </div>
        <div class="dialog-footer" slot="footer">
            <el-button class="nice-button" @click="hideEditDialog()">Close</el-button>
        </div>
    </el-dialog>
</div>
</template>

<script>
import tools from "@/tools/Tools.js"
export default {
    data() {
        return {
            editDialogVisible: false,
            currentEinsatz: []
        }
    },

    computed: {
        einsaetze() {
            return this.$store.getters.einsaetze
        }
    },

    methods: {
        handlePrint(einsatzId) {
            console.log("Ich drucke id: ", einsatzId)
        },

        handleEdit(einsatzId) {
            var self = this
            var link =
                "./static/api/einsaetze/einsaetze.php?action=read&einsatzId=" +
                einsatzId
            this.axios.get(link).then(
                result => {
                    this.currentEinsatz = result.data.record
                    console.table(this.currentEinsatz)
                    this.editDialogVisible = true
                }, error => {
                    this.$message.error(
                        "Die Einsatzdetails konnten nicht gelesen werden: " + error
                    )
                    this.editDialogVisible = false
                }
            )
        },

        reloadEinsaetze() {
            this.$store.dispatch("getEinsaetze")
        },

        hideEditDialog() {
            this.editDialogVisible = false
        },

        selectEinsatz(row, event, column) {
            var einsatzId = row.id
            console.log("ich habe einen Einsatz geklickt ", einsatzId)
        },

        tableRowClassName({
            row,
            rowIndex
        }) {
            if (row.id == this.$store.getters.currentEinsatz.id) {
                return "current-row"
            }
        }
    }
}
</script>

<style lang="scss" scoped>
</style>
