$color_card-border: rgba(128, 128, 128, 0.6);
$color_card-text: rgba(0, 0, 0, 0.3);
$color_divider: rgba(128, 128, 128, 0.4);
$color_blue-font: hsl(195, 53%, 70%);
$color_table-selectedRowBackground: rgba(240, 128, 128, 0.5);
$color_table-selectedRow: #ffffff;
$color_table-rowBorder: rgba(64, 64, 64, 0.3);
$color_table-striped: rgba(92, 92, 92, 0.2);
$color_font: rgb(30, 30, 30);
$color_font-invers: rgba(255, 255, 255, 0.9);
$color_font_dark: rgba(30, 30, 30, 1);
$color_true_bg: rgba(188, 223, 164, 0.5);
$color_true: rgba(0, 0, 0, 1);
$color_false_bg: rgba(229, 116, 112, 0.5);
$color_false: rgba(0, 0, 0, 1);
$color_blue-font: hsl(196, 70%, 70%);
$color_font_darker: #000;
$color_font_dark: #444;
/** Table **/

$color_table-selectedRowBackground: rgba(64, 128, 256, 0.5);
$color_table-selectedRow: #ffffff;
$color_table-rowBorder: rgba(64, 64, 64, 0.3);
$color_table-striped: rgba(92, 92, 92, 0.2);
/** Forms **/

$color_input_border: rgba(64, 64, 64, 0.5);
/** Dialog **/

$color_dialog-border: rgba(128, 128, 128, 0.4);
$color_dialog-footer: rgba(192, 192, 192, 0.9);
/** http://colours.neilorangepeel.com/category/green/ **/

$color_nodata: rgba(240, 128, 128, 0.5);
$color_inaktiv: rgba(128, 128, 128, 0.1);
$text_inaktiv: rgba(128, 128, 128, 0.0);
$color_a-dienst: rgba(0, 0, 0, 0.6);
$text_a-dienst: rgba(255, 255, 255, 0.9);
/** Header **/

$color_header-background: rgba(100, 149, 237, 1);
/** Card **/

$color_card-border: rgba(192, 192, 192, 1);
$color_card-title: #2c3e50;
$color_card-footer: rgba(192, 192, 192, 0.9);
/** Dialog **/

$color_dialog-border: rgba(128, 128, 128, 0.4);
$color_dialog-footer: rgba(192, 192, 192, 0.9);
/** Table **/

/* Input */

$color_input_border: rgba(64, 64, 64, 0.5);
/* Matrix */

$color_matrix-border: rgba(192, 192, 192, 1);
$color_einheit-border: rgba(128, 128, 128, 1);
$color_standort-bg: rgba(128, 128, 128, 0.8);
$color_standort: rgba(0, 0, 0, 1);
$color_alert-alarmzeit: rgba(178, 34, 34, 1);
$color_matrix-standort-bg: rgba(168, 168, 168, 0.9);
$color_matrix-standort: rgba(255, 255, 255, 1);
/* Statusfarben */

$color_frei-bg: rgba(230, 230, 250, 1);
$color_frei: $color_font;
$color_bereit-bg: rgba(240, 128, 128, 1);
$color_bereit: $color_font;
$color_ausfahrt-bg: rgba(255, 0, 0, 1);
$color_ausfahrt: $color_font-invers;
$color_alarmiert-bg: rgba(255, 165, 0, 1);
$color_alarmiert: $color_font;
$color_estelle-bg: rgba(178, 34, 34, 1);
$color_estelle: $color_font-invers;
$color_rueckfahrt-bg: rgba(0, 100, 0, 1);
$color_rueckfahrt: $color_font-invers;
$color_einfahrt-bg: rgba(50, 205, 50, 1);
$color_einfahrt: $color_font;
$color_inaktiv-bg: rgba(245, 245, 245, 1);
$color_inaktiv: rgba(245, 245, 245, 1);
