.el-button.nice-button {
  border-radius: 0px;
}

label.el-radio-button.nice-button * {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 1px !important;
  border-top-right-radius: 1px !important;
}

.button-frei {
  background-color: $color_frei-bg;
  color: $color_frei;
}

.button-bereit {
  background-color: $color_bereit-bg;
  color: $color_bereit;
}

.button-ausfahrt {
  background-color: $color_ausfahrt-bg;
  color: $color_ausfahrt;
}

.button-estelle {
  background-color: $color_estelle-bg;
  color: $color_estelle;
}

.button-rueckfahrt {
  background-color: $color_rueckfahrt-bg;
  color: $color_rueckfahrt;
}

.button-einfahrt {
  background-color: $color_einfahrt-bg;
  color: $color_einfahrt;
}
