.el-row.more-space {
  .el-col {
    margin-top: 20px;
  }
}

.el-card.boxed-card {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.nice-card::before {
  margin-top: 100px !important;
}

.el-card.nice-card {
  margin-bottom: 20px;
  div.el-card__header {
    padding: 0;
    border: none;
    div.card-header {
      padding: 15px 10px 0;
      max-height: 30px;
      min-height: 30px;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      color: $color_font_dark !important;
    }
  }
  div.el-card__body {
    padding: 0;
    margin-bottom: 0;
    div.card-body {
      padding: 15px 30px 15px 10px;
      overflow-y: hidden;
      font-size: 12px;
      line-height: 1.5em;
    }
    div.card-body.spacy {
      padding: 15px 50px;
    }
    div.card-body.center {
      text-align: center;
      padding-left: 0 20px !important;
    }
    div.card-body.scroll {
      overflow-y: scroll !important;
    }
    div.card-footer {
      border-top: 1px solid #ccc;
      min-height: 33px;
      max-height: 33px;
      padding: 10px 10px 10px 16px;
      background-color: #e0e0e0;
      margin-bottom: 0;
      .el-button.right {
        float: right;
      }
      .el-button.start-button {
        padding: 7px 11px;
        position: relative;
        top: -2px;
      }
      span.source {
        color: $color_blue-font;
        font-size: 12px;
        position: relative;
        top: 2px;
        .icon {
          height: 14px;
          position: relative !important;
          top: 2px !important;
        }
      }
    }
    div.card-footer.btn-right {
      .el-button,
      .el-form {
        float: right;
        margin-left: 8px;
      }
    }
  }
}

.el-card.h300 {
  min-height: 300px;
  max-height: 300px;
  height: 300px;
  div.card-body {
    min-height: 180px;
    max-height: 180px;
  }
  div.card-body.no-header {
    min-height: 225px;
    max-height: 225px;
  }
  div.card-body.no-footer {
    min-height: 258px !important;
    max-height: 258px;
  }
}

.el-card.h400 {
  min-height: 400px;
  max-height: 400px;
  height: 400px;
  div.card-body {
    min-height: 275px;
    max-height: 275px;
  }
  div.card-body.no-header {
    min-height: 320px;
    max-height: 320px;
  }
}

.el-card.h430 {
  min-height: 430px;
  max-height: 430px;
  height: 430px;
  div.card-body {
    min-height: 305px;
    max-height: 305px;
  }
  div.card-body.no-header {
    min-height: 400px;
    max-height: 400px;
  }
}

.el-card.h450 {
  min-height: 450px;
  max-height: 450px;
  height: 450px;
  div.card-body {
    min-height: 320px;
    max-height: 320px;
  }
  div.card-body.no-margin {
    min-height: 342px;
    max-height: 340px;
  }
  div.card-body.no-header {
    min-height: 420px;
    max-height: 420px;
  }
}

.el-card.h600 {
  min-height: 600px;
  max-height: 600px;
  height: 600px;
  div.card-body {
    min-height: 475px;
    max-height: 475px;
  }
  div.card-body.no-header {
    min-height: 570px;
    max-height: 570px;
  }
}

.el-card.hmax {
  min-height: 720px;
  max-height: 720px;
  height: 720px;
  div.card-body {
    min-height: 595px;
    max-height: 595px;
  }
  div.card-body.no-header {
    min-height: 636px;
    max-height: 636px;
  }
}
