form.nice-form {
  .el-form-item {
    margin-bottom: 4px;
  }
  label {
    font-size: 12px;
    color: $color-font;
    position: relative;
    top: 2px;
  }
  div.el-input {
    input,
    textarea {
      border-radius: 0;
      border: 1px solid $color_input-border;
      color: $color_font;
    }
  }
  input,
  textarea {
    color: $color_font;
    border: 1px solid $color_input-border;
    border-radius: 0;
  }
  div.el-input-group__prepend {
    border-radius: 0;
    border: 1px solid $color_input-border;
    border-right: none;
  }
}
