.icon.nice-icon {
  height: 20px !important;
  position: relative;
  top: 4px;
}

.icon.big-icon {
  width: 24px;
  color: red !important;
  position: relative;
  top: 4px;
}

.icon.small-icon {
  height: 12px;
  top: 1px;
}

.icon.red * {
  color: red !important;
}

.icon.blue * {
  color: rgb(45, 128, 193) !important;
}

.icon.green * {
  color: rgb(0, 128, 64) !important;
}

.icon.info-icon {
  height: 48px !important;
  * {
    color: green;
  }
}
