table.vertical-matrix {
  border-collapse: collapse;
  max-width: 1890px !important;
  tr {
    margin-top: 40px !important;
    padding-top: 40px !important;
    vertical-align: top;
    td.ende {
      height: 40px;
    }
    td.standortName {
      border: 1px solid $color_matrix-border;
      background-color: $color_matrix-standort-bg;
      color: $color_matrix-standort;
      width: 107px;
      min-width: 107px;
      max-width: 107px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
    }
    td.einheit-button {
      border: 1px solid $color_matrix-border;
      font-size: 13px;
      height: 42px;
      vertical-align: middle;
      text-align: center;
      line-height: 1.3em;
      span {
        font-size: 10px;
        color: inherit;
        margin-top: 15px;
        margin-top: 15px;
        opacity: 0.8;
      }
    }
    td.einheit-button.is-not-current {
      opacity: 0.5;
      cursor: not-allowed;
    }
    td.einheit-button.is-free {
      opacity: 1 !important;
      cursor: default;
    }
    td.tools {
      border: 1px solid $color_matrix-border;
      height: 45px;
      vertical-align: middle;
      text-align: center;
    }
    td.alarmiert {
      background-color: $color_alarmiert-bg;
      color: $color_alarmiert;
    }
    td.bereit {
      background-color: $color_bereit-bg;
      color: $color_bereit;
    }
    td.ausfahrt {
      background-color: $color_ausfahrt-bg;
      color: $color_ausfahrt;
    }
    td.estelle {
      background-color: $color_estelle-bg;
      color: $color_estelle;
    }
    td.rueckfahrt {
      background-color: $color_rueckfahrt-bg;
      color: $color_rueckfahrt;
    }
    td.einfahrt {
      background-color: $color_einfahrt-bg;
      color: $color_einfahrt;
    }
    td.frei {
      background-color: $color_frei-bg;
      color: $color_frei;
    }
    td.inaktiv {
      background-color: $color_inaktiv-bg;
      color: $color_inaktiv;
    }
  }
}

table.mini-matrix {
  border-collapse: collapse;
  tr {
    td.cell-standort {
      border: 2px ridge #ccc;
      text-align: left;
      width: 110px;
      max-width: 110px;
      background-color: $color_matrix-standort-bg;
    }
    td.alarmiert {
      background-color: $color_alarmiert-bg;
      color: red !important;
    }
    td.bereit {
      background-color: $color_bereit-bg;
      .einheitName,
      .staerken,
      .einheitPA {
        color: $color_bereit;
      }
    }
    td.ausfahrt {
      background-color: $color_ausfahrt-bg;
      .einheitName,
      .staerken,
      .einheitPA {
        color: $color_ausfahrt;
      }
    }
    td.estelle {
      background-color: $color_estelle-bg;
      .einheitName,
      .staerken,
      .einheitPA {
        color: $color_estelle;
      }
    }
    td.rueckfahrt {
      background-color: $color_rueckfahrt-bg;
      .einheitName,
      .staerken,
      .einheitPA {
        color: $color_rueckfahrt;
      }
    }
    td.einfahrt {
      background-color: $color_einfahrt-bg;
      .einheitName,
      .staerken,
      .einheitPA {
        color: $color_einfahrt;
      }
    }
    td.frei {
      background-color: $color_frei-bg;
      color: $color_frei;
    }
    td.inaktiv {
      background-color: $color_inaktiv-bg;
      color: $color_inaktiv;
    }
    td.cell-einheit,
    td.cell-dummy {
      border: 2px ridge #aaa;
      max-width: 110px;
      min-width: 110px;
      min-height: 50px;
      max-height: 50px;
      height: 50px;
      padding: 4px 1px 0px 1px;
      button.info-button {
        padding: 5px;
        border: 1px solid white !important;
      }
      span.einheitName {
        font-size: 14px;
        font-weight: 600;
      }
      i.el-icon-setting {
        color: white !important;
      }
      .row2 {
        .el-col {
          padding-top: 5px;
          vertical-align: middle !important;
        }
        .el-col.staerken {
          padding-top: 10px;
          font-size: 13px;
          font-weight: 500;
          span.einheitPA {
            font-weight: 800;
          }
        }
      }
    }
    td.cell-dummy {
      border: 1px solid #ddd;
    }
  }
}
