.w90 {
  width: 90px !important;
}

.w95 {
  width: 92px !important;
}

.w100 {
  width: 100px !important;
}

.w110 {
  width: 110px !important;
}

.w120 {
  width: 120px !important;
}

.w130 {
  width: 130px !important;
}

.w140 {
  width: 140px !important;
}

.w150 {
  width: 150px !important;
}

.w180 {
  width: 180px !important;
}

.w190 {
  width: 190px !important;
}

.w200 {
  width: 200px !important;
}

.w210 {
  width: 210px !important;
}

.w220 {
  width: 220px !important;
}

.w250 {
  width: 250px !important;
}

.w300 {
  width: 300px !important;
}

.top-gutter10 {
  margin-top: 10px;
}

.space-gutter20 {
  margin-bottom: 20px !important;
}

.side-gutter5,
side-gutter {
  margin-right: 15px !important;
  margin-left: 15px !important;
}
