@import 'appcolors.scss';
@import 'cards.scss';
@import 'button.scss';
@import 'sizes.scss';
@import 'table.scss';
@import 'forms.scss';
@import 'dialog.scss';
@import 'message.scss';
@import 'badge.scss';
@import 'icons.scss';
@import 'matrix.scss';
div.scroll {
  overflow-y: scroll !important;
}

.scroll div.spacer {
  min-height: 30px;
  max-height: 30px;
  display: inline-block;
}

#app,
* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  color: $color_font;
  margin-top: 0;
}

header {
  text-align: center; //background-color: lightblue !important;
  padding-top: 20px;
  padding-bottom: 40px !important;
  margin-bottom: 20px;
}

.el-footer {
  background-color: lightgreen !important;
  padding-top: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
}
