table.nice-table {
  min-width: 100% !important;
  border-spacing: 0;
  color: $color_font;
  border-collapse: separate;
  tbody tr:nth-child(even) {
    background-color: $color_table_striped;
  }
  tr.selected {
    background-color: $color_table-selectedRowBackground !important;
    color: $color_table-selectedRow !important;
  }
  td,
  th {
    font-size: 12px;
    padding: 7px 5px;
  }
  td.centered,
  th.centered {
    text-align: center;
  }
  td.left,
  th.left {
    text-align: left;
  }
  td.right,
  th.right {
    text-align: right;
  }
  thead tr {
    padding-bottom: 5px;
  }
}

table.bordered {
  border-collapse: collapse;
  tbody tr td {
    border-top: 1px solid $color_table-rowBorder;
    border-bottom: 1px solid $color_table-rowBorder;
  }
}

table.framed {
  border-collapse: collapse;
  td,
  th {
    border: 1px solid $color_table-rowBorder;
  }
}

table.selector {
  tbody tr {
    cursor: default;
  }
}

table.fixed-header {
  th {
    text-align: left;
    padding: 0;
  }
  thead {
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 220px;
  }
}

/* el-table */

.el-table {
  tr.el-table__row--striped {
    td {
      background-color: $color_table-striped !important;
    }
  }
  tr.current-row,
  tr.el-table__row--striped .current-row {
    td {
      background-color: $color_table-selectedRowBackground !important;
    }
  }
}
