<template>
  <div>
    Admin {{ clock }}
    <el-row :gutter="20">
      <el-col :md="24" :lg="3" :xl="3">
        <widget-commander></widget-commander>
      </el-col>
      <el-col :md="24" :lg="8" :xl="7">
        <widget-standorte></widget-standorte>
      </el-col>
      <el-col :md="24" :lg="8" :xl="7">
        <widget-users></widget-users>
      </el-col>
      <el-col :md="24" :lg="8" :xl="7">
        <widget-einheiten></widget-einheiten>
      </el-col>
    </el-row>
    <el-row :gutter="20" type="flex" justify="left">
      <el-col :md="24" :lg="8" :xl="10">
        <widget-einsaetze></widget-einsaetze>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Commander from "./Commander";
import Standorte from "./standorte/Standorte";
import Users from "./users/Users";
import Einheiten from "./einheiten/Einheiten";
import Einsaetze from "./einsaetze/Einsaetze.vue";
export default {
  components: {
    "widget-commander": Commander,
    "widget-standorte": Standorte,
    "widget-users": Users,
    "widget-einheiten": Einheiten,
    "widget-einsaetze": Einsaetze
  },

  data() {
    return {};
  },

  computed: {
    clock() {
      return this.$store.getters.clock;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
