<template>
  <div>
    <el-card class="nice-card h400">
      <div class="card-header" slot="header">
        Admin-Commander
      </div>
      <div class="card-body">
        <el-row :gutter="20" type="flex" justify="center">
          <el-button class="nice-button w140" type="success" plain @click="routeTo('/')">Dashboard</el-button>
        </el-row>
        <br>
        <el-row :gutter="20" type="flex" justify="center">
          <el-button class=" nice-button w140" type="" plain>System Reset</el-button>
        </el-row>
      </div>
      <div class="card-footer"></div>
    </el-card>
  </div>
</template>

<script>
  export default {
    methods: {
      routeTo(url) {
        this.$router.push(url)
      }
    }

  }

</script>

<style lang="scss" scoped>


</style>
