<template>
  <div class="widget">
    <el-dialog class="nice-dialog" center :visible.sync="showMe" :show-close=false :close-on-click-modal=false width="50%" @open="meldungDialogOpen">
      <div class="dialog-header" slot="title">Einsatzmeldung erfassen: {{currentEinsatz.einsatzName}}</div>
      <div class="dialog-body">
        <el-form rel="form" class="nice-form" label-width="130">
          <el-row :gutter="20">
            <el-col :md="8">
              <el-form-item label="Meldung von">
                <el-input v-model="currentMeldung.meldungVon"></el-input>
              </el-form-item>
            </el-col>
            <el-col :md="8">
              <el-form-item label="Meldung an">
                <el-input v-model="currentMeldung.meldungAn"></el-input>
              </el-form-item>
            </el-col>
            <el-col :md="8">
              <el-form-item label="Meldung Art">
                <el-input v-model="currentMeldung.meldungType"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="Meldung">
            <el-input type="textarea" :rows="5" v-model="currentMeldung.meldungText"></el-input>
          </el-form-item>
        </el-form>
      </div>
      <div class="dialog-footer" slot="footer">
        <el-button class="nice-button" size="mini" type="success" @click="closeDialog">OK</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
  import tools from '@/tools/Tools.js'

  export default {
    props: ['dlgVisible', 'options', 'type'],

    data() {
      return {
        currentEinsatz: {},
        currentMeldung: {}
      }
    },

    computed: {
      showMe: {
        get() {
          return this.dlgVisible == true
        },
        set(newValue) {
          this.$emit('close')
        }
      },

      dialogOptions() {
        return this.options
      }
    },

    methods: {

      meldungDialogOpen() {
        var self = this
        if (this.options.modus == 'edit') {
          this.loadMeldung(this.options.meldungId)
        }
        if (this.options.modus == 'insert') {
          this.prepareNewMeldung()
        }
      },

      prepareNewMeldung() {
        var self = this
        return new Promise((resolve, reject) => {
          var newMeldung = {}
          this.currentEinsatzId = this.$store.getters.currentEinsatz.id
          newMeldung = {
            meldungVon: self.options.meldungVon,
            meldungType: self.options.meldungType,
            meldungAn: self.options.meldungAn,
            meldungEinsatzId: self.options.meldungEinsatzId,
            meldungDisponent: self.options.meldungDisponent,
          }
          this.currentMeldung = newMeldung
          resolve(newMeldung)
        })
      },

      loadMeldung(meldungId) {
        var self = this
        var link = './static/api/meldungen/meldungen.php?action=read&meldungId=' + this.options.meldungId
        this.axios.get(link).then((result) => {
          self.currentMeldung = result.data.meldung
        }, (error) => {
          this.$message.error('Error by axio: ' + error)
        })
      },

      closeDialog() {
        var self = this
        if (tools.isValue(this.currentMeldung.meldungText)) {
          if (self.options.modus == 'insert') {
            tools.insertMeldung(this.currentMeldung)
          }
          if (self.options.modus == 'edit') {
            tools.updateMeldung(this.currentMeldung)
          }

        } else {
          this.$message.error('Es wurde keine Meldung hinterlegt')
        }
        this.showMe = false
      }
    }
  }

</script>
<style lang='scss' scoped>


</style>
