<template>
  <div>
    <el-row :gutter="15">
      <el-col :md="24" :lg="3" :xl="3">
        <widget-navi></widget-navi>
      </el-col>
      <el-col :md="24" :lg="6" :xl="6">
        <widget-einsaetze></widget-einsaetze>
      </el-col>
      <el-col :md="24" :lg="6" :xl="6">
        <widget-einsatz></widget-einsatz>
      </el-col>
      <el-col :md="24" :lg="9" :xl="9">
        <widget-maps></widget-maps>
      </el-col>
    </el-row>
    <el-row :gutter="15" class="second-row">
      <el-col :md="24" :lg="14" :xl="14">
        <minimatrix></minimatrix>
      </el-col>
      <el-col :md="24" :lg="10" :xl="10">
        <widget-meldungen></widget-meldungen>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import Navi from './Navi'
  import Einsaetze from './Einsaetze'
  import Einsatz from './Einsatz'
  import MiniMatrix from '@/components/matrix/MiniMatrix'
  import Meldungen from './Meldungen'
  import GoogleMaps from './GoogleMaps'


  export default {
    components: {
      'widget-navi': Navi,
      'widget-einsaetze': Einsaetze,
      'widget-einsatz': Einsatz,
      'minimatrix': MiniMatrix,
      'widget-meldungen': Meldungen,
      'widget-maps': GoogleMaps
    }
  }

</script>

<style lang="scss" scoped>


</style>
