<template>
  <div class="widget">
    <el-card class="nice-card h400">
      <div class="card-header" slot="header">Einsatz-Details</div>
      <div class="card-body">
        <el-form class="nice-form" ref="form" :label-position="labelPosition" label-width="120px" size="mini" :disabled=noEinsatzSelected>
          <el-row :gutter="10">
            <el-col :lg="24">
              <el-form-item label="Einsatzname">
                <el-input v-model="currentEinsatz.einsatzName"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :lg="24">
              <el-form-item label="Einsatz-Nr">
                <el-input type="number" v-model="currentEinsatz.einsatzNummer">
                  <template slot="prepend">H</template>
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :lg="24">
              <el-form-item label="Einsatz-Adresse">
                <el-input v-model="currentEinsatz.einsatzAdresse"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :lg="24">
              <el-form-item label="Einsatz alarmiert">
                <el-date-picker v-model="currentEinsatz.einsatzAlarmiert" type="datetime" format="dd.MM.yyyy HH:mm" placeholder="Select date and time"
                  style="width:100%">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :lg="24">
              <el-form-item label="Einsatz eröffnet">
                <el-date-picker v-model="currentEinsatz.einsatzEroeffnet" type="datetime" format="dd.MM.yyyy HH:mm" placeholder="Select date and time"
                  style="width:100%">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :md="24">
              <el-form-item label="Einsatz beendet">
                <el-date-picker v-model="currentEinsatz.einsatzBeendet" type="datetime" format="dd.MM.yyyy HH:mm" placeholder="Select date and time"
                  style="width:100%">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :lg="24">
              <el-form-item label="EinsatzTyp">
                <el-select v-model="currentEinsatz.einsatzType" class="w100p">
                  <el-option v-for="item in einsatzTypen" :key="item.id" :label="item.einsatzType" :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :lg="24">
              <el-form-item label="Einsatz-Disponent">
                <el-select v-model="currentEinsatz.einsatzDisponent" class="w100p">
                  <el-option v-for="user in users" :key="user.id" :label="user.userName" :value="user.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="10" type="flex">
            <el-form-item>
              <el-col :lg="24">
                <el-button class="nice-button" type="danger" :disabled="noEinsatzSelected" plain @click="resetEinheiten">Reset Einheiten</el-button>
                <el-button class="nice-button" type="danger" :disabled="noEinsatzSelected" plain @click="closeEinsatz">Einsatz schliessen</el-button>
              </el-col>
            </el-form-item>
          </el-row>
        </el-form>

      </div>
      <div class="card-footer">
        <el-button class="nice-button" type="success" :disabled="noEinsatzSelected" size="mini" @click="updateEinsatz">Speichern</el-button>
      </div>
    </el-card>
  </div>
</template>

<script>
  import tools from '@/tools/Tools.js'

  export default {
    data() {
      return {
        labelPosition: 'right'
      }
    },

    computed: {
      currentEinsatz() {
        var currentEinsatz = this.$store.getters.currentEinsatz
        if (!tools.isValue(currentEinsatz.id)) {
          this.$store.dispatch('setCurrentEinsatzToNone')
        } else {

        }
        return currentEinsatz
      },

      users() {
        return this.$store.getters.users
      },

      noEinsatzSelected() {
        return !tools.isEmptyObject(this.currentEinsatz)
      },

      einsatzTypen() {
        return this.$store.getters.einsatzTypen
      }
    },

    mounted() {
      this.$store.dispatch('getUsers')
    },

    methods: {
      updateEinsatz() {
        var self = this
        var link = './static/api/einsaetze/einsaetze.php?action=update'
        var formData = tools.toFormData(this.currentEinsatz)
        this.axios.post(link, formData).then(
          () => {
            this.createMeldung('Die Einsatzdaten wurden aktualisiert')
            this.$notify({
              message: 'Einsatz gespeichert',
              type: 'success'
            })
          },
          error => {
            this.$message.error('Error by axios: ' + error)
          }
        )
      },

      resetEinheiten() {
        var self = this
        this.$confirm(
            'Sollen die Einheiten aus diesem Einsatz wirklich zurückgesetzt werden?',
            'Bestätigung', {
              confirmButtonText: 'Ja',
              cancelButtonText: 'Nein',
              type: 'warning'
            }
          )
          .then(() => {
            var einsatzId = self.currentEinsatz.id
            self.resetEinheitenForEinsatz(einsatzId).then(() => {
              self.createMeldung(
                'Die aktiven Einheiten für diesen Einsatz wurden vom Dispotnen zurückgesetzt'
              )
            })
          })
          .catch(() => {
            self.$message.info('Aktion abgebrochen')
          })
      },

      closeEinsatz() {
        this.$confirm(
            'Soll der Einsatz wirklich geschlossen werden?',
            'Warnung', {
              confirmButtonText: 'Ja',
              cancelButtonText: 'Nein'
            }
          )
          .then(() => {
            var einsatzId = this.currentEinsatz.id
            this.testForActiveEinheiten(einsatzId).then(result => {
              if (result.einheitenImEinsatz != 0) {
                this.resetEinheitenForEinsatz(einsatzId).then(() => {
                  this.$message({
                    message: 'Noch für diesen Einsatz aktive Einheiten wurden zurückgesetzt',
                    type: 'success'
                  })
                  this.createMeldung(
                    'Die aktiven Einheiten für diesen Einsatz wurden vom Disponten zurückgesetzt'
                  )
                })
              }
              this.setEinsatzToClosed(einsatzId).then(() => {
                this.createMeldung('Einsatz wurde geschlossen')
              })
            })
          })
          .catch(() => {
            this.$message.error({
              message: 'Aktion abgebrochen',
              type: 'message'
            })
          })
      },

      testForActiveEinheiten(einsatzId) {
        return new Promise((resolve, reject) => {
          var link =
            './static/api/einheiten/einheiten.php?action=list_by_einsatz&einsatzId=' +
            einsatzId
          this.axios.get(link).then(
            result => {
              var data = {
                einheitenImEinsatz: result.data.records.length
              }
              resolve(data)
            },
            error => {
              reject()
            }
          )
        })
      },

      resetEinheitenForEinsatz(einsatzId) {
        return new Promise((resolve, reject) => {
          var link =
            './static/api/einheiten/einheiten.php?action=resetEinheiten&einsatzId=' +
            einsatzId
          this.axios.get(link).then(
            result => {
              resolve()
            },
            error => {
              this.$message.error('Die Einheiten wurden nicht zurückgesetzt')
              reject()
            }
          )
        })
      },

      createMeldung(meldung) {
        tools.insertMeldung({
          meldungVon: 'FEZ',
          meldungType: 'system',
          meldungText: meldung,
          meldungAn: 'FEZ'
        })
      },

      setEinsatzToClosed(einsatzId) {
        return new Promise((resolve, reject) => {
          this.currentEinsatz.einsatzStatus = 0
          var formData = tools.toFormData(this.currentEinsatz)
          var link = './static/api/einsaetze/einsaetze.php?action=update'
          this.axios.post(link, formData).then(
            result => {
              // Sobald der Einsatz geschlossen wurde, den aktiven Einsatz auf 0 setzen, damit die Matrix nicht
              // weiter versucht, auf die Einsatzdaten zuzugreifen.
              this.$store.dispatch('setCurrentEinsatz', 0)
              // Die Liste der Einsätze neu laden (ansonsten würde der Refresh dauern, bis der nächste Timer-Zyklus // durchgelaufen wäre)
              this.$store.dispatch('getEinsaetze')
              resolve()
            },
            error => {
              this.$message.error(
                'Der Einsatz wurde in der Datenbank nicht als geschlossen markiert!'
              )
              reject()
            }
          )
        })
      }
    }
  }

</script>

<style lang='scss' scoped>
  .el-date-picker {
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    left: -10px !important;
  }

  .w100p {
    width: 100% !important;
  }

</style>
