<template>
  <div>
    <el-card class="nice-card h400">
      <div class="card-header" slot="header">Einsätze</div>
      <div class="card-body small-padding">
        <el-table class="nice-table" :data="einsaetze" highlight-current-row height="280px" :row-class-name="tableRowClassName" @row-click="selectEinsatz">
          <el-table-column label="Nr" prop="einsatzNummer" width="55"></el-table-column>
          <el-table-column label=" Einsatz" prop="einsatzName" align="left"></el-table-column>
          <el-table-column label="Disponent" prop="userKuerzel" width="80"></el-table-column>
        </el-table>
      </div>
      <div class="card-footer">
        <el-button class="nice-button w200" icon="el-icon-edit" type="danger" size="mini" @click="insertEinsatz">NEUER EINSATZ</el-button>
      </div>
    </el-card>
  </div>
</template>

<script>
  import tools from '@/tools/Tools.js'
  export default {
    computed: {
      einsaetze() {
        return this.$store.getters.openEinsaetze
      }
    },

    mounted() {
      this.$store.dispatch('getEinsaetze')
    },

    methods: {
      selectEinsatz(row, event, column) {
        var einsatzId = row.id
        this.$store.dispatch('setCurrentEinsatz', einsatzId)
      },

      insertEinsatz() {
        var newEinsatz = {
          einsatzDatum: tools.getHumanDate(),
          einsatzUhrzeit: tools.getHumanTime(),
          einsatzStatus: 1,
          einsatzDisponent: this.$store.getters.currentUser.id,
          einsatzName: 'Einsatz am ' + tools.getHumanDateTime(),
          einsatzEroeffnet: tools.getFullDateTimeString()
        }
        var formData = tools.toFormData(newEinsatz)
        var self = this
        var link = './static/api/einsaetze/einsaetze.php?action=insert'
        this.axios.post(link, formData).then(
          result => {
            // Die neue EinsatzId:
            var newEinsatzId = result.data.newRecordId
            // Die Einsätze direkt wieder neu einlesen (spontane Nutzer-Erfahrung)
            self.$store.dispatch('getEinsaetze').then(() => {
              this.$store.dispatch('setCurrentEinsatz', newEinsatzId).then(() => {
                var einsatzName = self.$store.getters.currentEinsatz.einsatzName
                tools.insertMeldung({
                  meldungType: 'system',
                  meldungText: 'Einsatz ' + einsatzName + ' wurde eröffnet',
                  meldungVon: 'FEZ'
                })
              })
            })
          },
          error => {
            this.$message.error('Error by axios: ' + error)
          }
        )
      },

      tableRowClassName({
        row,
        rowIndex
      }) {
        if (row.id == this.$store.getters.currentEinsatz.id) {
          return 'current-row'
        }
      }
    }
  }

</script>

<style lang='scss' scoped>


</style>
