<template lang="html">
  <div class="widget">

    <el-card class="nice-card h400">
      <div slot="header" class="card-header">
        Einsatz-Adresse
      </div>
      <div class="card-body no-padding">
        <gmap-map :center="center" :zoom="12" style="width:100%;  height: 305px;">
          <gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" @click="center=m.position">
          </gmap-marker>
        </gmap-map>
      </div>
      <div class="card-footer btn-right">
        <el-button class="nice-button" :disabled="true" type="primary" plain v-show="showInfo()">
          {{ storeCurrentEinsatz.einsatzAdresse }}
        </el-button>
      </div>
    </el-card>
  </div>
</template>

<script>
  import tools from './../../tools/Tools.js'

  export default {
    name: "GoogleMap",
    data() {
      return {
        center: {
          lat: 49.85237,
          lng: 6.57100
        },
        markers: [],
        places: [],
        currentPlace: null,
        labelPosition: "right"
      };
    },


    computed: {
      storeCurrentEinsatz() {
        this.updateMap(this.$store.getters.currentEinsatz)
        return this.$store.getters.currentEinsatz
      },
    },


    mounted() {
      this.geolocate();
    },


    methods: {
      showInfo() {
        return tools.isValue(this.$store.getters.currentEinsatz) && this.storeCurrentEinsatz.einsatzAdresse != ''
      },
      updateMap(einsatz) {
        if (tools.isValue(einsatz)) {
          this.markers = []
          if (tools.isValue(this.$store.getters.currentEinsatz)) {
            var adresse = this.$store.getters.currentEinsatz.einsatzAdresse
            var self = this
            if (adresse != '') {
              var geocoder = new google.maps.Geocoder()
              geocoder.geocode({
                'address': adresse
              }, (results, status) => {
                if (status === 'OK') {
                  self.center.lat = results[0].geometry.location.lat()
                  self.center.lng = results[0].geometry.location.lng()
                  const marker = {
                    lat: results[0].geometry.location.lat(),
                    lng: results[0].geometry.location.lng()
                  }
                  self.markers.push({
                    position: marker
                  });
                } else {
                  self.center.lat = 49.85237
                  self.center.lng = 6.57100
                }
              })
            } else {
              self.center.lat = 49.85237
              self.center.lng = 6.57100
            }
          }
        }

      },
      setPlace(place) {
        // receives a place object via the autocomplete component
        this.storeCurrentEinsatz.einsatzAdresse = place.formatted_address
        this.currentPlace = place;
      },
      addMarker() {
        if (this.currentPlace) {
          const marker = {
            lat: this.currentPlace.geometry.location.lat(),
            lng: this.currentPlace.geometry.location.lng()
          };
          this.markers.push({
            position: marker
          });
          this.places.push(this.currentPlace);
          this.center = marker;
          this.currentPlace = null;
        }
      },
      geolocate: function () {
        navigator.geolocation.getCurrentPosition(position => {
          this.center = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
        });
      }
    }
  };

</script>

<style lang="scss" scoped>
  gmap-map {
    height: 305px;
    margin: 0 auto;
    background: gray;
  }

  div.card-footer {
    input {
      font-size: 13px !important;
      font-family: Arial, "Helvetica Neue", Arial, sans-serif;
      height: 30px !important;
      padding: 0 15px;
      border: 1px solid #999;
      width: 90%;
      position: relative;
      top: 3px;
    }
  }

  div.card-body.no-padding {
    padding: 0 0 0 !important;
    min-height: 305px;
    max-height: 305px;
  }

</style>
