<template>
  <div>
    <el-card class="nice-card h450">
      <div class="card-header" slot="header">Meldungen</div>
      <div class="card-body scroll small-padding">

        <el-table :data="einsatzMeldungen" class="nice-table" stripe>
          <el-table-column label="Datum" prop="meldungDatum" width="90"></el-table-column>
          <el-table-column label="Zeit" prop="meldungZeit" width="90"></el-table-column>
          <el-table-column label="Einheit" prop="meldungVon" align="left" width="100"></el-table-column>
          <el-table-column label="Meldung" prop="meldungText" align="left"></el-table-column>
          <el-table-column fixed="right" label="Aktion" width="80">
            <template slot-scope="scope">
              <el-button @click="handleEdit(scope.row.id)" icon="el-icon-edit" type="text" size="mini"></el-button>
              <el-button @click="handleDelete(scope.row.id)" icon="el-icon-delete" type="text" size="mini"></el-button>
            </template>
          </el-table-column>
        </el-table>

      </div>
      <div class="card-footer">
        <span v-if="isEinsatzSelected">
          <el-button class="nice-button" size="mini" type="primary" @click="meldung('FEZ', 'system', 'fez')">FEZ-Meldung</el-button>
          <el-button class="nice-button" size="mini" type="primary" @click="insertMeldung('FEZ', 'system', 'fez', 'FEZ angemeldet')">FEZ Anmelden</el-button>
          <el-button class="nice-button" size="mini" type="primary" @click="insertMeldung('FEZ', 'system', 'fez', 'FEZ abgemeldet')">FEZ Abmelden</el-button>
        </span>
      </div>
    </el-card>
    <meldung-dialog :dlgVisible="meldungDialogVisible" :options="meldungOptions" @close="meldungDialogClosed"></meldung-dialog>
  </div>
</template>

<script>
  import tools from '@/tools/Tools.js'
  import MeldungDialog from '@/components/MeldungDialog'

  export default {

    components: {
      'meldung-dialog': MeldungDialog,
    },

    data() {
      return {
        meldungDialogVisible: false,
        meldungOptions: {}
      }
    },

    computed: {

      meldungen() {
        return this.$store.getters.meldungen
      },

      einsatzMeldungen() {
        return this.$store.getters.filteredMeldungen(
          this.$store.getters.currentEinsatz.id
        )
      },

      isEinsatzSelected() {
        return tools.isValue(this.$store.getters.currentEinsatz)
      },
    },


    methods: {

      meldung(sender, type) {
        var self = this
        this.meldungOptions = {
          meldungVon: sender,
          meldungType: type,
          meldungAn: 'system',
          meldungEinsatzId: this.$store.getters.currentEinsatz.id,
          meldungDisponent: this.$store.getters.currentUserId,
          modus: 'insert'
        }
        this.meldungDialogVisible = true
      },

      insertMeldung(sender, receiver, type, text) {
        var newMeldung = {
          meldungType: type,
          meldungText: text,
          meldungVon: sender,
          meldungAn: receiver
        }
        tools.insertMeldung(newMeldung)
      },


      meldungDialogClosed() {
        this.meldungDialogVisible = false
      },

      handleEdit(meldungId) {
        this.meldungOptions = {
          meldungId: meldungId,
          modus: 'edit',
        }
        this.meldungDialogVisible = true
      },

      handleDelete(meldungId) {
        var self = this
        this.$confirm('Soll diese Nachricht wirklich gelöscht werden?', 'Bestätigung', {
          confirmButtonText: 'Löschen',
          cancelButtonText: 'Nicht löschen',
          type: 'warning'
        }).then(() => {
          var link = './static/api/meldungen/meldungen.php?action=delete&meldungId=' + meldungId
          this.axios.get(link).then((result) => {
            self.$message.info('Die Meldung wurde gelöscht')
          }, (error) => {
            this.$message.error('Fehler beim Löschen der Meldung' + error)
          })
        }).catch(() => {
          self.$message.info('Aktion wurde abgebrochen')
        })
      }
    }
  }

</script>

<style lang='scss' scoped>


</style>
