<template>
  <div>
    <el-card class="nice-card h400">
      <div class="card-header" slot="header">Navi</div>
      <div class="card-body">
        <el-form class="nice-form">
          <el-row :gutter="20" type="flex" justify="center">
            <el-button class="nice-button w140" type="" plain @click="showMatrix">Matrix (FEZ)</el-button>
          </el-row>
          <el-row :gutter="20" type="flex" justify="center">
            <el-button class="nice-button w140" type="" plain @click="showExternMatrix">Matrix (Extern)</el-button>
          </el-row>
          <br>
          <el-row :gutter="20" type="flex" justify="center">
            <el-button class="nice-button w140" type="" plain @click="routeTo('/admin/')">Admin</el-button>
          </el-row>
          <br>
          <hr>
          <el-row :gutter="20" type="flex" justify="center">
            <el-form-item label="Disponent an diesem AP">
              <el-select class="nice-select" style="width:160px" v-model="currentUser.id" @change="changeCurrentUser">
                <el-option v-for="user in users" :key="user.id" :label="user.userFullName" :value="user.id"></el-option>
              </el-select>
            </el-form-item>
          </el-row>
        </el-form>
      </div>
      <div class=" card-footer">
        <el-form class="nice-form">
          <el-form-item>
            {{ clock }}
          </el-form-item>
        </el-form>
      </div>
    </el-card>
  </div>
</template>

<script>
  import tools from '@/tools/Tools.js'
  export default {
    data() {
      return {
        currentUser: {}
      }
    },

    computed: {
      clock() {
        return this.$store.getters.clock
      },
      users() {
        return this.$store.getters.users
      }
    },

    created() {
      var currentUserId = this.$cookie.get('currentUserId')
      var self = this
      if (currentUserId == 'undefined' || currentUserId == null) {
        currentUserId = 1
      }
      this.$store.dispatch('setCurrentUser', currentUserId).then(() => {
        self.currentUser = this.$store.getters.currentUser
      })
    },

    methods: {
      changeCurrentUser() {
        var self = this
        this.$store.dispatch('setCurrentUser', this.currentUser.id).then(() => {
          self.currentUser = this.$store.getters.currentUser
        })
      },

      routeTo(url) {
        this.$router.push(url)
      },

      showMatrix() {
        let routeData = this.$router.resolve({
          name: '/matrix',
          query: {
            href: '/matrix'
          }
        })
        window.open('#/matrix', '_matrix')
      },

      showExternMatrix() {
        let routeData = this.$router.resolve({
          name: '/externmatrix',
          query: {
            href: '/externmatrix'
          }
        })
        window.open('#/externmatrix', '_externmatrix')
      }
    }
  }

</script>

<style lang='scss' scoped>


</style>
