<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App',

    created() {
      this.$store.dispatch('startClockTimer', 1000)
      this.$store.dispatch('startAlarmTimer', 60000)
      this.$store.dispatch('startEinsaetzeTimer', 5000)
      this.$store.dispatch('startMatrixTimer', 1000)
      this.$store.dispatch('startMeldungenTimer', 1300)
      this.$store.dispatch('getEinsatzTypen')
    }
  }

</script>

<style>


</style>
