<template>
  <div class="widget gradient-background">
    <el-row :gutter="0" type="flex" align="left">
      <el-col>
        <table class="extern-matrix" cellspacing="0" width="100%">
          <span v-for="standort in storeMatrix" :key="standort.id">
            <tr>
              <td class="standortName">
                {{ standort.standort.standortPraefix }}
              </td>
            </tr>

            <tr v-for="einheit in standort.einheiten" :key="einheit.id">
              <td v-if="einheit.einheitAktiv != 0" :class="['button einheit-button', einheit.einheitStatus, (einheit.einheitEinsatzId == 0 || einheit.einheitEinsatzId == storeCurrentEinsatz.id ) ? '' : 'is-not-current']"
                @click="cellEinheitClicked(einheit)">{{ einheit.einheitButtonName}}
              </td>

            </tr>
            <tr>
              <td class="ende"></td>
            </tr>
          </span>
        </table>
      </el-col>
    </el-row>
    <!-- TODO: Einsatz-Ticker mit einer Laufschrift der letzten 3-5 Meldungen als Widget unter die Matrix anbieten -->
    <matrix-dialog :dlgVisible="matrixDialogVisible" :einsatz="storeCurrentEinsatz" :einheitId="currentEinheitId" :matrixType="matrixType"
      @close="matrixDialogClosed"></matrix-dialog>
  </div>
</template>

<script>
  import MatrixDialog from './MatrixDialog.vue'
  import tools from '@/tools/Tools.js'


  // TODO: Abfrage für diese Matrix optimieren!

  export default {
    components: {
      'matrix-dialog': MatrixDialog
    },

    data() {
      return {
        matrixDialogVisible: false,
        currentEinheitId: null,
        currentEinsatzId: null,
        matrixType: 'FEZ'
      }
    },

    computed: {
      storeMatrix() {
        return this.$store.getters.matrixData
      },

      storeCurrentEinsatz() {
        return this.$store.getters.currentEinsatz
      },

      storeFilteredStandort() {
        return this.$store.getters.filteredStandort(standortId)
      }
    },

    created() {
      var self = this
      setInterval(() => {
        self.$store.dispatch(
          'setCurrentEinsatz',
          self.$cookie.get('currentEinsatzId')
        )
      }, 1000)
    },

    methods: {
      matrixDialogClosed() {
        this.matrixDialogVisible = false
      },

      cellEinheitClicked(einheit) {
        if (
          this.storeCurrentEinsatz.id == einheit.einheitEinsatzId ||
          einheit.einheitEinsatzId == 0
        ) {
          this.currentEinheitId = einheit.id
          this.currentEinsatzId = einheit.einheitEinsatzId
          this.matrixDialogVisible = true
        } else {
          this.$alert('Dieser Standort ist einem anderen Einsatz zugeordnet.')
        }
      },

      standortAlarm(standortId) {
        var self = this
        this.axios.get('./static/api/standorte/standorte.php?action=read&standortId=' + standortId).then((result) => {
          var standortName = result.data.record.standortName
          this.$confirm('Möchten Sie den Standort - ' + standortName + ' -  wirklich alarmieren?',
            'Bestätigen', {
              confirmButtonText: 'Ja',
              cancelButtonText: 'Nein'
            }).then(() => {
            var link = './static/api/einheiten/einheiten.php?action=alarmStandortEinheiten&standortId=' +
              standortId +
              '&einsatzId=' + self.storeCurrentEinsatz.id
            this.axios.get(link).then((result) => {
              tools.insertMeldung({
                meldungType: 'alarm',
                meldungText: 'Durch die FEZ alarmiert: ' + standortName,
                meldungVon: 'FEZ',
                meldungAn: ''
              })
            }, (error) => {
              self.$message.error('Fehler bei der Alarmierung der Einheiten')
            })
          }).catch(() => {
            this.$message.info('Aktion abgebrochen')
          })
        })

        // TODO Abfrage Alarmmodus und Bestätigung für Ausführung
        // TODO Eintragen einer Meldung
        // TODO Starten der Countdown-Zeit
      }
    }
  }

</script>

<style lang="scss" scoped>
  table.vertical-matrix {
    width: 100%;
    tr {
      td.standortName {
        font-size: 11px;
        border: 1px solid #ccc;
        width: 100px;
      }
    }
  }

</style>
