<template>
  <div class="widget gradient-background">
    <el-row :gutter="10" type="flex" align="left">
      <el-col :sm="24">
        <table class="vertical-matrix" cellspacing="0" width="400px">
          <span v-for="standort in storeMatrix" :key="standort.id">
            <tr>
              <td class="standortName">
                {{ standort.standort.standortPraefix }}
              </td>
            </tr>
            <tr>
              <td class="tools">
                <el-button class="nice-button alarm-button w90" size="mini" icon="el-icon-bell" @click="standortAlarm(standort.standort.id)"></el-button>
              </td>
            </tr>
            <tr v-for="einheit in standort.einheiten" :key="einheit.id">
              <td v-if="einheit.einheitAktiv != 0" :class="['button einheit-button', einheit.einheitStatus, (einheit.einheitEinsatzId == 0 || einheit.einheitEinsatzId == storeCurrentEinsatz.id ) ? '' : 'is-not-current']"
                @click="cellEinheitClicked(einheit)">{{ einheit.einheitButtonName}}
                <br />
                <span>{{ einheit.einheitZF }} | {{ einheit.einheitGF }} | {{ einheit.einheitMA }} | {{einheit.einheitPA}}</span>
              </td>
              <td v-else class="button einheit-button">
              </td>
            </tr>
            <tr>
              <td class="ende"></td>
            </tr>
          </span>
        </table>
      </el-col>
    </el-row>
    <!-- TODO: Einsatz-Ticker mit einer Laufschrift der letzten 3-5 Meldungen als Widget unter die Matrix anbieten -->
    <matrix-dialog :dlgVisible="matrixDialogVisible" :einsatz="storeCurrentEinsatz" :einheitId="currentEinheitId" :matrixType="matrixType"
      @close="matrixDialogClosed"></matrix-dialog>
  </div>
</template>

<script>
  import MatrixDialog from './MatrixDialog.vue'
  import tools from '@/tools/Tools.js'

  export default {
    components: {
      'matrix-dialog': MatrixDialog
    },

    data() {
      return {
        matrixDialogVisible: false,
        currentEinheitId: null,
        currentEinsatzId: null,
        matrixType: 'FEZ'
      }
    },

    computed: {
      storeMatrix() {
        return this.$store.getters.matrixData
      },

      storeCurrentEinsatz() {
        return this.$store.getters.currentEinsatz
      },

      storeMeldungen() {
        var self = this
        if (tools.isValue(self.storeCurrentEinsatz.id)) {
          var meldungen = this.$store.getters.filteredMeldungen(
            self.storeCurrentEinsatz.id
          )
          return meldungen.slice(-1)[0]
        } else return {}
      },

      storeFilteredStandort() {
        return this.$store.getters.filteredStandort(standortId)
      }
    },

    created() {
      var self = this
      var i = 0;
      setInterval(() => {
        self.$store.dispatch(
          'setCurrentEinsatz',
          self.$cookie.get('currentEinsatzId')
        )
      }, 1000)

      setInterval(() => {
        self.storeMatrix.forEach((standort) => {
          var einheiten = standort.einheiten
          einheiten.forEach((einheit) => {
            if (einheit.einheitStatus == 'alarmiert') {

            }
          })
        })
      }, 30000)
    },

    methods: {
      matrixDialogClosed() {
        this.matrixDialogVisible = false
      },

      cellEinheitClicked(einheit) {
        // Nur auf einen Klick reagieren, wenn überhaupt ein Einsatz aktiv ist
        if (tools.isValue(this.storeCurrentEinsatz.id)) {
          if (
            this.storeCurrentEinsatz.id == einheit.einheitEinsatzId ||
            einheit.einheitEinsatzId == 0
          ) {
            this.currentEinheitId = einheit.id
            this.currentEinsatzId = einheit.einheitEinsatzId
            this.matrixDialogVisible = true
          } else {
            //TODO den "anderen" Einsatz bestimmen und ggf einen Wechsel anbieten
            var link = './static/api/einsaetze/einsaetze.php?action=read&einsatzId=' + einheit.einheitEinsatzId
            this.axios.get(link).then((result) => {
              var otherEinsatz = result.data.record
              var confirming = 'Dieser Standort ist dem Einsatz Nr: ' + otherEinsatz.einsatzNummer + ' (' +
                otherEinsatz
                .einsatzName +
                ') zugeordnet. Möchten Sie zu dem Einsatz wechseln?'
              this.$confirm(confirming, 'Info', {
                confirmButtonClass: 'okButton',
                confirmButtonText: 'Wechseln',
                cancelButtonClass: 'cancelButton',
                cancelButtonText: 'Nein',
              }).then(() => {
                this.$store.dispatch('setCurrentEinsatz', otherEinsatz.id)
              }).catch(() => {})
            })
          }
        } else {
          this.$message.info('Sie haben noch keinen aktiven Einsatz gewählt')
        }
      },

      standortAlarm(standortId) {
        // Hier werden alle Einheiten eines Standortes alarmiert.
        var self = this
        this.axios
          .get(
            './static/api/standorte/standorte.php?action=read&standortId=' +
            standortId
          )
          .then(result => {
            var standortName = result.data.record.standortName
            this.$confirm(
                'Möchten Sie den Standort - ' +
                standortName +
                ' -  wirklich alarmieren?',
                'Bestätigen', {
                  confirmButtonText: 'Ja',
                  cancelButtonText: 'Nein'
                }
              )
              .then(() => {
                var alarmZeit = self.$moment().format('DD.MM.YYYY HH:mm:ss')
                var link =
                  './static/api/einheiten/einheiten.php?action=alarmStandortEinheiten&standortId=' +
                  standortId +
                  '&einsatzId=' +
                  self.storeCurrentEinsatz.id + '&alarmZeit=' + alarmZeit
                this.axios.get(link).then(
                  result => {
                    tools.insertMeldung({
                      meldungType: 'alarm',
                      meldungText: 'Durch die FEZ alarmiert: ' + standortName,
                      meldungVon: 'FEZ',
                      meldungAn: ''
                    })
                  },
                  error => {
                    self.$message.error(
                      'Fehler bei der Alarmierung der Einheiten'
                    )
                  }
                )
              })
              .catch(() => {
                this.$message.info('Aktion abgebrochen')
              })
          })
        // TODO Abfrage Alarmmodus und Bestätigung für Ausführung
        // TODO Eintragen einer Meldung im Alarmfall
        // TODO E-Mail für Alarmierung via aPager
      }
    }
  }

</script>

<style lang='scss' scoped>
  table.vertical-matrix {
    width: 100%;
    tr {
      td.standortName {
        font-size: 11px;
        border: 1px solid #ccc;
        width: 100px;
      }
    }
  }

</style>
