<template>
  <div class="widget">
    <el-dialog class="nice-dialog" center :visible.sync="showMe" :show-close=false :close-on-click-modal=false width="50%" @open="matrixDialogOpen">
      <div class="dialog-header" slot="title">{{ einheit.einheitButtonName }} {{ einheit.einheitStatus }} @ {{einsatz.einsatzName}} </div>
      <div class="dialog-body">
        <el-form class="nice-form" label-width="120">
          <el-row :gutter="10">
            <el-col :lg="3">
              <el-form-item label="ZF">
                <el-input type="number" v-model="einheit.einheitZF"></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="3">
              <el-form-item label="GF">
                <el-input type="number" v-model="einheit.einheitGF"></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="3">
              <el-form-item label="MA">
                <el-input type="number" v-model="einheit.einheitMA"></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="3">
              <el-form-item label="PA">
                <el-input type="number" v-model="einheit.einheitPA"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <br>
          <el-row :gutter="0">
            <el-col :lg="18">
              <el-form-item>
                <el-button-group class="nice-button" size="mini">
                  <el-button class="nice-button status-button button-bereit w100" @click="setStatus('bereit', true)">Bereit</el-button>
                  <el-button class="nice-button status-button button-ausfahrt w100" @click="setStatus('ausfahrt', true)">Ausfahrt</el-button>
                  <el-button class="nice-button status-button button-estelle w100" @click="setStatus('estelle', true)">E-Stelle</el-button>
                  <el-button class="nice-button status-button button-rueckfahrt w100" @click="setStatus('rueckfahrt', true)">Rückfahrt</el-button>
                  <el-button class="nice-button status-button button-einfahrt w100"  @click="setStatus('einfahrt', true)">Einfahrt</el-button>
                  <el-button class="nice-button status-button button-frei w100" @click="setStatus('frei', true)">Frei</el-button>
                </el-button-group>
              </el-form-item>
            </el-col>
            <el-col :lg="6">
              <el-form-item>
                <el-button-group>
                  <el-button class="nice-button status-button button-alarmiert w100" @click="setStatus('alarmiert', false)">Alarmiert</el-button>
                  <el-button class="nice-button status-button w100" type="primary" @click="setMeldung()">Meldung</el-button>
                </el-button-group>
              </el-form-item>
            </el-col>
          </el-row>
          <div v-show="isAlarmMode">
            <el-row :gutter="10">
              <el-col :md="12">
                <el-input v-model="currentEinsatz.einsatzAdresse"></el-input>
                <el-input type="textarea"></el-input>
              </el-col>
            </el-row>
          </div>
          <el-row>
            <el-col :lg="24">
              <el-form-item label="Meldung">
                <el-input type="textarea" v-model="meldung" :rows="4" oiuii/>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-form-item>
            </el-form-item>
          </el-row>
        </el-form>
      </div>
      <div class="dialog-footer" slot="footer">
        <el-button class="nice-button" @click="closeDialog()">OK</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
  import tools from './../../tools/Tools.js'

  export default {
    props: ['matrixType', 'einsatz', 'einheitId', 'dlgVisible'],

    data() {
      return {
        einheit: [],
        meldung: '',
        isAlarmMode: true
      }
    },

    computed: {
      showMe: {
        get() {
          return this.dlgVisible == true
        },
        set(newValue) {
          this.$emit('close')
        }
      },
      currentEinsatz: {
        get() {
          return this.$store.getters.currentEinsatz
        }
      }
    },

    methods: {
      createMeldung(meldungText) {
        var aMeldung = {
          meldungEinsatzId: this.einsatz.id,
          meldungDisponent: this.$store.getters.currentUserId,
          meldungText: meldungText,
          meldungVon: this.einheit.einheitButtonName,
          meldungAn: '',
          meldungStatus: 1,
          meldungDatum: tools.getHumanDate(),
          meldungZeit: tools.getHumanTime(),
          meldungDate: tools.getMachineDate()
        }
        return aMeldung
      },

      updateDialogData() {
        this.updateEinheit()
          .then(result => {
            this.closeDialog()
          })
          .catch(() => {
            this.$message.error('Die Daten wurden nicht aktualisiert')
          })
      },

      setStatus(status, autoClose) {
        var self = this
        if (this.einheit.einheitStatus != status) {
          // Status wurde geändert
          if (status == 'frei') {
            // Die Einheit ist keinem Einsatz mehr zugeordnet
            this.einheit.einheitEinsatzId = 0
          } else {
            // Die Einheit gehört zum Einsatz!
            this.einheit.einheitEinsatzId = this.einsatz.id
            if (status == 'alarmiert') {
              // Die Einheit wurde alarmiert
              var alarmZeit = self.$moment().format('DD.MM.YYYY HH:mm:ss')
              this.einheit.einheitAlarmzeit = alarmZeit
              this.einheit.einheitUnixAlarm = 0
              this.getAlarmData(this.einsatz.id)
            } else {
              this.einheit.einheitAlarmzeit = 0
              this.einheit.einheitUnixAlarm = 0
            }
          }
          this.einheit.einheitStatus = status
          var meldungText = 'Status: ' + status
          this.insertMeldung(meldungText)
            .then(() => {
              this.updateEinheit()
                .then(() => {
                  if (autoClose == true) {
                    this.closeDialog()
                  }
                })
                .catch(() => {
                  this.$message.error('Einheit wurde nicht aktualisert')
                })
            })
            .catch(() => {
              this.$message.error('Die Meldung konnte nicht verarbeitet werden')
            })
        }
      },


      getAlarmData() {
        return new Promise((resolve, reject) => {
          console.log(this.einsatz)

          resolve()
        })
      },

      insertMeldung(meldungText) {
        self = this
        return new Promise((resolve, reject) => {
          var formData = tools.toFormData(this.createMeldung(meldungText))
          var link = './static/api/meldungen/meldungen.php?action=insert'
          self.axios.post(link, formData).then(
            result => {
              resolve()
            },
            error => {
              reject()
            }
          )
        })
      },

      updateEinheit() {
        return new Promise((resolve, reject) => {
          var self = this
          var formData = tools.toFormData(this.einheit)
          var link = './static/api/einheiten/einheiten.php?action=update'
          this.axios.post(link, formData).then(
            result => {
              resolve()
            },
            error => {
              reject()
            }
          )
        })
      },

      closeDialog() {
        this.showMe = false
        this.meldung = ''
      },

      matrixDialogOpen() {
        var link =
          './static/api/einheiten/einheiten.php?action=read&einheitId=' +
          this.einheitId
        var self = this
        this.axios.get(link).then(
          result => {
            self.einheit = result.data.record
          },
          error => {
            this.$message.error('Error by axios: ' + error)
          }
        )
      },

      setMeldung() {
        // eine Meldung ohne Statusänderung wird erzeugt.
        // Stärkeänderungen werden berücksichtig!
        var meldungText = 'Meldung von Einheit: ' + this.meldung
        this.insertMeldung(meldungText).then(
          () => {
            this.updateEinheit().then(
              () => {
                this.closeDialog()
              },
              error => {
                this.$message.error('Error by axios: ' + error)
              }
            )
          },
          error => {
            this.$message.error('Error by axios: ' + error)
          }
        )
      }
    }
  }

</script>
<style lang='scss' scoped>


</style>
