<template>
  <div class="widget">
    <el-card class="nice-card h450">
      <div class="card-header" slot="header">
        <span v-if="isEinsatzSelected == true"> {{ storeCurrentEinsatz.einsatzName }} H{{ storeCurrentEinsatz.einsatzNummer }}</span>
      </div>

      <div class="card-body scroll no-margin">
        <span v-if="isEinsatzSelected ==  false">Keine Einsatz ausgewählt</span>
        <table class="mini-matrix nice-table">
          <tr v-for="standort in miniMatrixData" :key="standort.standortId">
            <td class="cell-standort">{{ standort.standortName }}</td>
            <td v-for="(einheit) in standort.einheiten" :class="[ 'cell-einheit', einheit.einheitStatus]" :key="einheit.id" @click="cellEinheitClicked(einheit)">
              <el-row :gutter="10">
                <el-col class="einheitName">
                  <span class="einheitName">{{ einheit.einheitButtonName }}</span>
                </el-col>
              </el-row>
              <el-row :gutter="5" class="row2" type="flex" justify="center">
                <el-col v-if="einheit.einheitStatus!='alarmiert'" :sm="17" class="staerken">
                  {{einheit.einheitZF}} / {{einheit.einheitGF}} / {{einheit.einheitMA}} |
                  <span class="einheitPA">{{einheit.einheitPA}}</span>
                </el-col>
                <el-col v-else :sm="17">
                  <span class="timer">
                    <i class="el-icon-time myicon"></i> {{ einheit.einheitUnixAlarm }} Min.
                  </span>
                </el-col>
                <el-col :sm="6" class="col-info">
                  <el-button size="small" type="text" class="matrix-info-button" @click.stop="cellButtonClicked" el-icon="el-icon-setting"><i class="el-icon-setting"></i></el-button>
                </el-col>
              </el-row>
            </td>
            <td v-for="dummy in 7 - standort.numEinheiten" :key="dummy" class="cell-dummy"></td>
          </tr>
        </table>
      </div>
      <div class="card-footer">
      </div>
    </el-card>

    <matrix-dialog :dlgVisible="matrixDialogVisible" :einsatz="storeCurrentEinsatz" :einheitId="currentEinheitId" :matrixType="matrixType"
      @close="matrixDialogClosed"></matrix-dialog>

    <meldung-dialog :dlgVisible="meldungDialogVisible" :options="meldungOptions" @close="meldungDialogClosed"></meldung-dialog>
  </div>
</template>
<script>
import MatrixDialog from './MatrixDialog'
import MeldungDialog from '@/components/MeldungDialog'
import tools from '@/tools/Tools.js'

export default {
  components: {
    'matrix-dialog': MatrixDialog,
    'meldung-dialog': MeldungDialog
  },

  data() {
    return {
      matrixDialogVisible: false,
      meldungDialogVisible: false,
      currentEinheitId: null,
      currentEinsatzId: null,
      matrixType: 'MINIMATRIX',
      meldungOptions: {}
    }
  },

  computed: {
    storeCurrentEinsatzId: {
      cached: false,
      get() {
        return this.$store.getters.currentEinsatz.id
      }
    },

    storeCurrentEinsatz() {
      return this.$store.getters.currentEinsatz
    },

    isEinsatzSelected() {
      var test = tools.isValue(this.$store.getters.currentEinsatz)
      return test
    },

    miniMatrixData() {
      return this.$store.getters.miniMatrixDataFilter(
        this.storeCurrentEinsatzId
      )
    }
  },

  mounted() {},

  methods: {
    meldungDialogClosed() {
      this.meldungDialogVisible = false
    },

    matrixDialogClosed() {
      this.matrixDialogVisible = false
    },

    cellEinheitClicked(einheit) {
      if (einheit.einheitAktiv == 9) {
        this.currentEinheitId = einheit.id
        this.currentEinsatzId = einheit.einheitEinsatzId
        this.matrixDialogVisible = true
      }
    },

    cellButtonClicked() {
      this.$alert('BUTTON BUTTON')
    }
  }
}
</script>
<style lang='scss' scoped>
div.no-margin {
  padding: 4px !important;
}
</style>
