<template>
  <div>
    <el-card class="nice-card h400">
      <div class="card-header" slot="header">Einheiten</div>
      <div class="card-body">
        <el-table :data="standorte" class="nice-table" height="280px" highlight-current-row border stripe @row-click="selectStandortEinheiten">
          <el-table-column label="Standort" prop="standortName" sortable></el-table-column>
        </el-table>
      </div>
      <div class="card-footer">
        <el-button class="nice-button" size="mini" type="" plain @click="loadStandorte">
          <i class="el-icon-refresh"></i>
        </el-button>
      </div>
    </el-card>
    <einheit-dialog :dlgVisible="einheitDialogVisible" :einheiten="einheiten" :standort="currentStandort" @close="dialogIsClosed"></einheit-dialog>
  </div>
</template>

<script>
import Dialog from "./EinheitDialog";

export default {
  components: {
    "einheit-dialog": Dialog
  },

  data() {
    return {
      einheiten: [],
      einheitDialogVisible: false,
      currentStandort: {}
    };
  },

  computed: {
    standorte() {
      return this.$store.getters.standorte;
    }
  },

  methods: {
    selectStandortEinheiten(row, event, column) {
      var standortId = row.id;
      var self = this;
      var link2 =
        "./static/api/standorte/standorte.php?action=read&standortId=" +
        standortId;
      this.axios.get(link2).then(
        result => {
          self.currentStandort = result.data.record;
        },
        error => {
          self.$message.error("Error by axios: " + error);
        }
      );
      var link =
        "./static/api/einheiten/einheiten.php?action=list_by_standort&standortId=" +
        standortId;
      this.axios.get(link).then(
        result => {
          this.einheiten = result.data.records;
          self.einheitDialogVisible = true;
        },
        error => {
          self.$message.error("Error by axios: " + error);
        }
      );
    },

    loadStandorte() {
      this.$store.dispatch("getStandorte");
    },

    dialogIsClosed() {
      this.einheitDialogVisible = false;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
