<template>
  <div>
    <el-dialog class="nice-dialog" center :visible.sync="showMe" :showClose=false :close-on-click-modal=false width="50%" @open="openDialog">
      <div class="dialog-header" slot="title">Einheiten :: {{currentStandort.standortName}}</div>
      <div class="dialog-body">
        <el-row :gutter="20">
          <el-col :lg="6" v-for="einheit in einheitenAmStandort" :key="einheit.id">
            <span v-if="einheit.einheitAktiv==9">
              <el-button class="nice-button w210" type="primary " plain @click="selectEinheit(einheit.id)">{{ einheit.einheitRufname }}</el-button>
            </span>
            <span v-else>
              <el-button class="nice-button w210" type="warning" plain @click="selectEinheit(einheit.id)">{{ einheit.einheitRufname }}</el-button>
            </span>
          </el-col>

        </el-row>
        <br>
        <hr>
        <br>

        <el-form class="nice-form" label-width="90px" :label-position="labelPosition">
          <el-row :gutter="20">
            <el-col :lg="12">
              <el-form-item label="Rufname">
                <el-input v-model="currentEinheit.einheitRufname" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :lg="12">
              <el-form-item label="Einheitname">
                <el-input v-model="currentEinheit.einheitName" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :lg="12">
              <el-form-item label="Button">
                <el-input v-model="currentEinheit.einheitButtonName" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="20">
            <el-col :lg="12">
              <el-form-item label="Aktiv">
                <el-radio-group class="nice-button" v-model="currentEinheit.einheitAktiv">
                  <el-radio-button class="nice-button" label="9">Aktive Einheit</el-radio-button>
                  <el-radio-button class="nice-button" label="1">Außer Dienst</el-radio-button>
                  <el-radio-button class="nice-button" label="0">Nicht verfügbar</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="20">
            <el-col :lg="12">
              <el-form-item label="Extern">
                <el-radio-group class="nice-button" v-model="currentEinheit.einheitExtern">
                  <el-radio-button class="nice-button" label="0">VG-Einheit</el-radio-button>
                  <el-radio-button class="nice-button" label="1">Extern</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row :gutter="20">
            <el-col :lg="12">
              <el-form-item label="Führung">
                <el-radio-group class="nice-button" v-model="currentEinheit.einheitFuehrung">
                  <el-radio-button class="nice-button" label="0">Standard</el-radio-button>
                  <el-radio-button class="nice-button" label="1">Führung</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
          <br>
          <br>
          <el-row type="flex" justify="center">
            <el-col :lg="12">
              <el-form-item>
                <el-button-group>
                  <el-button class="nice-button w150" type="success" @click="updateCurrentEinheit">Einheit speichern</el-button>
                  <el-button class="nice-button w150" type="danger" plain @click="resetCurrentEinheit">Einheit zurücksetzen</el-button>
                </el-button-group>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <div class="dialog-footer" slot="footer">
        <el-button class="nice-button w100" size="mini" type="success" @click="closeDialog">OK</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import tools from './../../../tools/Tools.js'

  export default {
    props: ['einheiten', 'standort', 'dlgVisible'],

    data() {
      return {
        labelPosition: 'right',
        currentEinheit: {},
        einheitenAmStandort: [{}]
      }
    },

    computed: {
      showMe: {
        get() {
          this.currentStandort = this.standort
          return this.dlgVisible == true
        },
        set(newValue) {
          this.$emit('close')
        }
      }
    },


    mounted() {},

    methods: {
      openDialog() {
        var standortId = this.standort.id
        this.getEinheitenFor(standortId)
      },

      closeDialog() {
        this.currentEinheit = {}
        this.showMe = false
      },

      cancelDialog() {
        self.showMe = false
      },

      getEinheitenFor(standortId) {
        var link = './static/api/einheiten/einheiten.php?action=list_by_standort&standortId=' + standortId
        this.axios.get(link).then((result) => {
          this.einheitenAmStandort = result.data.records
        }, (error) => {
          self.$message.error('Error by axios: ' + error)
        })
      },

      selectEinheit(einheitId) {
        var link =
          './static/api/einheiten/einheiten.php?action=read&einheitId=' +
          einheitId
        var self = this
        this.axios.get(link).then(
          result => {
            self.currentEinheit = result.data.record
          },
          error => {
            this.$message.error('Error by axios: ' + error)
          }
        )
      },

      updateCurrentEinheit() {
        var formData = tools.toFormData(this.currentEinheit)
        var standortId = this.currentStandort.id
        var self = this
        var link = './static/api/einheiten/einheiten.php?action=update'

        this.axios.post(link, formData).then(
          result => {
            this.$message({
              message: 'Einheit aktualisiert',
              type: 'success'
            })
            this.getEinheitenFor(standortId)
          },
          error => {
            this.$message.error('Error by axios: ' + error)
          }
        )
      },

      resetCurrentEinheit() {
        this.$confirm(
          'Diese Einheit wird deaktiviert und auf Standardwerte zurückgesetzt. Möchten Sie wirklich fortfahren?',
          'Einheit zurücksetzen', {
            confirmButtonText: 'Ja',
            cancelButtonText: 'Nein'
          }).then(() => {
          this.currentEinheit.einheitName = ''
          this.currentEinheit.einheitRufname = 'Florian Trier-Land'
          this.currentEinheit.einheitButtonName = ''
          this.currentEinheit.einheitHinweis = ''
          this.currentEinheit.einheitStatus = 'inaktiv'
          this.currentEinheit.einheitFuehrung = 0
          this.currentEinheit.einheitExtern = 0
          this.currentEinheit.einheitAlarmzeit = 0
          this.currentEinheit.einheitUnixAlarm = 0
          this.currentEinheit.einheitZF = 0
          this.currentEinheit.einheitGF = 0
          this.currentEinheit.einheitMA = 0
          this.currentEinheit.einheitPA = 0
          this.currentEinheit.einheitEinsatzId = 0
          this.currentEinheit.einheitAktiv = 0
          this.updateCurrentEinheit()
        })
      }

    }
  }

</script>

<style lang="scss" scoped>


</style>
