$color_card-border: rgba(128, 128, 128, 0.6);
$color_card-text: rgba(0, 0, 0, 0.3);
$color_divider: rgba(128, 128, 128, 0.4);
$color_blue-font: hsl(195, 53%, 70%);
$color_table-selectedRowBackground: rgba(240, 128, 128, 0.5);
$color_table-selectedRow: #ffffff;
$color_table-rowBorder: rgba(64, 64, 64, 0.3);
$color_table-striped: rgba(92, 92, 92, 0.2);
$color_true_bg: rgba(188, 223, 164, 0.5);
$color_true: rgba(0, 0, 0, 1);
$color_false_bg: rgba(229, 116, 112, 0.5);
$color_false: rgba(0, 0, 0, 1);
$color_blue-font: hsl(196, 70%, 70%);
/*ocean*/

/* FONT */

$color_font: rgba(220, 220, 220, 1);
$color_font-bright: rgba(255, 255, 255, 1);
$color_font-dark: rgba(40, 40, 40, 1);
$color_font-darker: rgba(0, 0, 0, 1);
$color_font-invers: $color_font-bright;
/* FONT */

$color_body-background: rgba(2, 25, 25, 1);
$color_gradient-bg1: rgba(12, 68, 69, 1);
$color_gradient-bg2: rgba(13, 37, 44, 1);
$color_card-background: rgba(2, 43, 54, 0.3);
$color_card-header-background: rgba(19, 92, 100, 1);
$color_card-footer-bg1: rgba(11, 14, 26, 0.1);
$color_card-footer-bg2: rgba(11, 14, 26, 1);
$color_title-yellow: rgba(210, 164, 97, 1);
$color_title-green: rgba(130, 191, 190, 1);
$color_title-green2: rgba(74, 192, 192, 1);
$color_title-green3: rgba(147, 186, 191, 1);

/* INPUT */

$color_input_background: rgba(16, 116, 128, 1);
$color_input-bg1: rgba(5, 61, 61, 1);
$color_input-bg2: rgba(5, 61, 61, 0.9);
$color_input-bg1a: rgba(16, 116, 128, 1);
$color_input-bg2a: rgba(19, 92, 100, 1);
$color_input-border: rgba(10, 118, 128, 1);
/* INPUT */

/* TABLE */

$color_table_bg: rgba(4, 53, 51, 1);
$color_table-bg1: rgba(5, 61, 61, 1);
$color_table-bg2: rgba(5, 61, 61, 0.9);
$color_table-cell-bg: rgba(4, 44, 48, 1);
$color_table-cell-striped-bg: rgba(5, 61, 61, 0.6);
$color_table_header-bg: rgba(5, 41, 41, 1);
$color_table-selectedRowBackground: rgba(10, 118, 131, 1);
$color_table-selectedRow: #ffffff;
$color_table-rowBorder: rgba(64, 64, 64, 0.3);
/* Table */

/* BUTTON */

$color_button-bg: rgba(19, 63, 69, 1);
$color_button-bg1: rgba(16, 116, 128, 1);
$color_button-bg2: rgba(19, 92, 100, 1);
$color_button-bg-hover: rgba(10, 118, 128, 1);
$color_button-border: rgba(19, 80, 81, 1);
/*Button */

/* Dialog */
$color_dialog-bg1: rgba(5, 61, 61, 1);
$color_dialog-bg2: rgba(5, 61, 61, 1);
$color_dialog-border: rgba(255, 255, 255, 1);
$color_dialog-header-border: rgba(255, 255, 255, 0.3);
$color_dialog-footer: rgba(192, 192, 192, 0.9);
$color_matrix-standort-bg: rgba(5, 61, 61, 0.6);
$color_matrix-standort: rgba(255, 255, 255, 1);
$color_button1: rgba(10, 59, 56, 1);
$color_button2: rgba(5, 47, 48, 1);
$color_button3: rgba(5, 35, 40, 1);
$color_button4: rgba(5, 24, 31, 1);
$color_button5: rgba(4, 17, 26, 1);
/* Dialog */

/* Type-Farben */

$color_warn: rgba(214, 122, 51, 1);
$color_alarm: rgba(255, 0, 0, 1);
/* Type-Farben */

/* Statusfarben */

$color_frei-bg: rgba(5, 54, 52, 1);
$color_frei: $color_font;
$color_bereit-bg: rgba(240, 128, 128, 1);
$color_bereit: $color_font;
$color_ausfahrt-bg: rgba(255, 0, 0, 1);
$color_ausfahrt: $color_font-invers;
$color_alarmiert-bg: rgba(255, 165, 0, 1);
$color_alarmiert: $color_font-darker;
$color_estelle-bg: rgba(178, 34, 34, 1);
$color_estelle: $color_font-invers;
$color_rueckfahrt-bg: rgba(0, 100, 0, 1);
$color_rueckfahrt: $color_font-invers;
$color_einfahrt-bg: rgba(50, 205, 50, 1);
$color_einfahrt: $color_font-darker;
$color_inaktiv-bg: rgba(245, 245, 245, 1);
$color_inaktiv: rgba(245, 245, 245, 1);
/*Statusfarben */

/* Andere Farben */

$color_nodata: rgba(240, 128, 128, 0.5);
$color_inaktiv: rgba(128, 128, 128, 0.1);
$text_inaktiv: rgba(128, 128, 128, 0);
$color_a-dienst: rgba(0, 0, 0, 0.6);
$text_a-dienst: rgba(255, 255, 255, 0.9);
/** Header **/

$color_header-background: rgba(100, 149, 237, 1);
/** Card **/

$color_card-border: rgba(192, 192, 192, 1);
$color_card-title: #2c3e50;
$color_card-footer: rgba(192, 192, 192, 0.9);
/** Dialog **/

/** Table **/

/* Input */

/* Matrix */

$color_matrix-border: rgba(192, 192, 192, 1);
$color_einheit-border: rgba(128, 128, 128, 1);
$color_standort-bg: rgba(128, 128, 128, 0.8);
$color_standort: rgba(0, 0, 0, 1);
$color_alert-alarmzeit: rgba(178, 34, 34, 1);
/* Statusfarben */
