.el-button.nice-button {
  border-radius: 0px;
  background-image: linear-gradient($color_input-bg1, $color_input-bg2) !important;
  border: 1px solid $color_button-border !important;
}

.nice-button:hover {
  background-color: $color_button-bg-hover !important;
  border-color: #fff !important;
  span {
    color: $color_title-yellow;
  }
}

label.el-radio-button.nice-button * {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 1px !important;
  border-top-right-radius: 1px !important;
}

.nice-button.status-button {
  border-radius: 0px;
  background-image: none !important;
}

.button-alarm {
  background-color: $color_alarmiert-bg;
  span {
    color: $color_alarmiert !important;
  }
}

.button-frei {
  background-color: $color_frei-bg;
  span {
    color: $color_frei;
  }
}

.button-bereit {
  background-color: $color_bereit-bg !important;
  background-image: none !important;
  span {
    color: $color_bereit !important;
  }
}

.button-ausfahrt {
  background-color: $color_ausfahrt-bg !important;
  span {
    color: $color_ausfahrt !important;
  }
}

.button-estelle {
  background-color: $color_estelle-bg;
  span {
    color: $color_estelle;
  }
}

.button-rueckfahrt {
  background-color: $color_rueckfahrt-bg;
  span {
    color: $color_rueckfahrt;
  }
}

.button-einfahrt {
  background-color: $color_einfahrt-bg;
  span {
    color: $color_einfahrt !important;
  }
}

.button-alarmiert {
  background-color: $color_alarmiert-bg;
  span {
    color: $color_alarmiert !important;
  }
}
