div.nice-dialog {
  .el-dialog {
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-image: linear-gradient($color_dialog-bg1, $color_dialog-bg2) !important;
    opacity: 0.92;
    border: 2px solid $color_dialog-border !important;
  }
  .el-dialog__header {
    padding: 0 !important;
    div.dialog-header {
      padding: 20px 30px 10px;
      border-bottom: 1px solid $color_dialog-header-border !important;
      font-size: 15px;
      height: 25px;
    }
  }
  .el-dialog__footer {
    padding: 0 !important;
    .dialog-footer {
      border-top: 1px solid $color_dialog-border;
      padding: 10px 30px;
      margin-bottom: 0;
      background-color: $color_dialog-footer;
    }
  }
}
