form.nice-form {
  .el-form-item {
    margin-bottom: 4px;
  }
  label {
    font-size: 12px;
    color: $color-font;
    position: relative;
    top: 2px;
  }
  div.el-input {
    input,
    textarea {
      border-radius: 0;
      border: 1px solid $color_input-border !important;
      background-image: linear-gradient($color_input-bg1, $color_input-bg2) !important;
      border-collapse:  !important;
    }
  }
  input,
  textarea {
    border: 1px solid $color_input-border !important;
    border-radius: 0;
  }
  div.el-input-group__prepend {
    border-radius: 0;
    border: 1px solid $color_input-border !important;
    border-right: none;
  }
  .el-input-group__append,
  .el-input-group__prepend {
    color: $color_title-yellow;
    background-color: rgba(1, 34, 36, 1);
    border: 1px solid $color_input-border !important;
    border-right: none !important;
  }
}

input {
  color: $color_font-bright !important;
}

textarea {
  background-image: linear-gradient($color_input-bg1, $color_input-bg2) !important;
  color: $color_font-bright !important;
}

.el-select {
  input {
    color: $color_font-bright !important;
  }
}

.el-scrollbar {
  background-color: rgba(1, 34, 36, 1);
  li {
    background-color: rgba(1, 34, 36, 1);
  }
  li.hover {
    background-color: rgba(5, 61, 61, 1) !important;
    span {
      color: #ffffff;
    }
  }
  li.selected {
    background-color: $color_table-selectedRowBackground !important;
    span {
      color: $color_title-yellow;
    }
  }
}
