div.el-message-box *,
div.el-notification * {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

div.el-message-box {
  background-image: linear-gradient($color_gradient-bg1, $color_gradient-bg2);
  border-radius: 0px;
  .el-button {
    border-radius: 0px;
  }
}

div.el-message {
  background-image: linear-gradient($color_gradient-bg1, $color_gradient-bg2) !important;
}

div.el-message-box {
  .cancelButton {
    background-color: red;
    border: 1px solid green;
  }
  .okButton {
    background-color: blue;
    border: 1px solid #fff;
  }
}
