.center,
span.center {
  text-align: center !important;
}

.float-right,
.pull-right {
  float: right
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /* Für den IE6 und IE7 */
}

.warning {
  color: red;
}

.success {
  color: green;
}

p {
  line-height: 1.6em;
}
